* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header,
.more-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h1 {
	padding: 2rem;
}

#logo {
	text-decoration: none;
	color: rgb(38, 35, 71);
	font-size: 3rem;
}
.search-form {
	display: flex;
	padding: 1rem 1rem 3rem;
}

.search-input {
	font-size: 2rem;
	padding: 0.5rem;
	font-family: inherit;
	outline: none;
	border: 2px solid rgb(38, 35, 71);
	width: 100%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.submit-btn,
.more {
	font-size: 1rem;
	padding: 0.5rem;
	font-family: inherit;
	color: #fff;
	background: rgb(38, 35, 71);
	outline: none;
	border: none;
	cursor: pointer;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	transition: background 0.4s ease-in-out;
}

.submit-btn:hover,
.more:hover {
	background: rgb(22, 19, 61);
}

.submit-btn:active,
.more:active {
	transform: scale(0.99);
}

.more {
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 3rem;
	width: 90%;
	margin: auto;
	padding: 2rem;
}

.photo-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0rem;
	color: gray;
}

.photo-info a {
	color: gray;
}

.gallery-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 420px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 4rem;
		width: 97%;
		margin: 0 auto;
	}
}
